<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpeedUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=9f824e34d97e5483"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <dataConfiguration defaultDatabase="Tcs"/>
  <connectionStrings>
    <add name="Tcs" providerName="System.Data.SqlClient" connectionString="Server=Q19VSQL13;User ID=bll_dev;Password=dev_test;Database=tcs;Connection Reset=FALSE"/>
    <add name="SystemEntities" connectionString="metadata=res://*/Model.DataAggDB.csdl|res://*/Model.DataAggDB.ssdl|res://*/Model.DataAggDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P17VSQL09;initial catalog=System;persist security info=True;user id=hsdataagg;password=hsdataagg;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="TCSEntities" connectionString="metadata=res://*/Model.TCSDB.csdl|res://*/Model.TCSDB.ssdl|res://*/Model.TCSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAZ02SQL381;initial catalog=TCS;persist security info=True;user id=tcs_user;password=use_tcs;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TCSEntities" connectionString="metadata=res://*/Model.TCSDB.csdl|res://*/Model.TCSDB.ssdl|res://*/Model.TCSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Q19VSQL13;initial catalog=TCS;persist security info=True;user id=bll_dev;password=dev_test;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TCSEntitiesProduction" connectionString="metadata=res://*/Model.TcsProduction.csdl|res://*/Model.TcsProduction.ssdl|res://*/Model.TcsProduction.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P19VSQL13;initial catalog=TCS;persist security info=True;user id=tcs_user;password=use_tcs;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TcsUrl" value="http://tcs.topproducer.com/TCS/TCSWebService.asmx"/>
    <add key="TcsQaUrl" value="http://tcsqa.topproducer.com/TCS/TCSWebService.asmx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-west-2"/>
    <add key="AWSBucketName" value="dmql-report"/>
    <add key="AccessKey" value="AKIAJSLV4VKLVAE6P5SQ"/>
    <add key="SecretAccessKey" value="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"/>
    <add key="ServiceUrl" value="https://s3-us-west-2.amazonaws.com"/>    
    <add key="SMTPServer" value="10.160.32.102"/>
    <add key="SMTPPort" value="25"/>
    <add key="MailFrom" value="marius.sorescu@move.com"/>
    <add key="MailTo" value="marius.sorescu@move.com;justin.mccarty@move.com;mike.standley@move.com;marissa.hun@move.com;eli.heady@move.com;data.platform@listhub.com;"/>
    <add key="MailCC" value="Alex.Makhanko@move.com;Karen.Hiller@move.com;dl-gators-kanban@move.com;"/>
    <add key="Drive" value="D:"/>
    <add key="ConnectionString" value="Uid=dataagg;Password=UWm6WggX;Server=mlr3.dataagg-qa.moveaws.com;Port=3306;Database=mapping"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MlsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="320" maxStringContentLength="819200000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="MlsSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="320" maxStringContentLength="819200000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="MlsSoap2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="320" maxStringContentLength="819200000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tcsqa.topproducer.com/TCS/TCSWebService.asmx" binding="basicHttpBinding" bindingConfiguration="MlsSoap" contract="TCSWebService.MlsSoap" name="MlsSoap"/>
      <endpoint address="http://tcs.topproducer.com/tcs/tcswebservice.asmx" binding="basicHttpBinding" bindingConfiguration="MlsSoap1" contract="ProductionServiceReference.MlsSoap" name="MlsSoap1"/>
      <endpoint address="http://tcsstaging.topproducer.com/TCS/TcsWebService.asmx" binding="basicHttpBinding" bindingConfiguration="MlsSoap2" contract="StagingServiceReference.MlsSoap" name="MlsSoap2"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <SpeedUp.Properties.Settings>
      <setting name="TFSLocalFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="ReplyEmailTemplate" serializeAs="String">
        <value/>
      </setting>
      <setting name="RETSClientToolPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="HandyMapperPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="SearchToolPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="TestHarnessPath" serializeAs="String">
        <value/>
      </setting>
    </SpeedUp.Properties.Settings>
  </userSettings>
  <log4net>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SpeedupLog\Logfile"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="3MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data></configuration>
